* {
  box-sizing: border-box;
}


body {

  font-family: 'Roboto', sans-serif;
  background: #000;

  overflow-x: hidden;

}

h1, h2, h3, h4, h5, h6, p, body {

  margin: 0;
  padding: 0;

}

h1, h2, h3, h4, h5, h6 {

  font-family: 'Ubuntu', sans-serif;

}

.container {

  position: relative;

  max-width: 1200px;
  width: 98%;

  padding: 0 20px;

  margin: 0 auto;

  z-index: 10;

}

a {

  display: inline-block;
  text-decoration: none;

}

ul {
  list-style-type: none;
  padding: 0;
}

.section-heading {

  margin: 20px 0;

  text-align: center;

  h3 {

    color: map-get($colors, white);

    font-size: 30px;

    margin-bottom: 20px;

    @media (max-width: 750px) {

      font-size: 24px;

    }

  }

  p {

    max-width: 750px;
    width: 100%;

    margin: 0 auto;

    color: map-get($colors, text);
    line-height: 30px;

    font-size: 18px;

    @media (max-width: 750px) {

      font-size: 16px;
      line-height: 27px;

    }

  }

}

.section-footer {


    max-width: 750px;
    width: 100%;

    margin: 0 auto;

    color: map-get($colors, text);
    line-height: 30px;

    text-align: center;

    font-size: 18px;

    @media (max-width: 750px) {

      font-size: 16px;
      line-height: 27px;

    }


}

button {

  border: none;
  cursor: pointer;

}