.sign-in {

  display: flex;
  align-items: center;

  position: relative;

  min-height: 800px;


  &:before {

    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 150px;

    background: url('/assets/shadow.png');

    transform: rotateZ(180deg);

    z-index: 1;

  }

  &:after {

    content: '';

    position: absolute;
    bottom: 0px;
    left: 0;

    width: 100%;
    height: 150px;

    background: url('/assets/shadow.png');

    z-index: 1;

  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: url('/assets/world-sparkles.jpg');
    background-size: cover;
    background-position: center center;

    opacity: .4;
  }

  .form {

    max-width: 380px;
    width: 100%;

    margin: 0 auto;
    padding: 40px 30px;

    background-color: rgba(0,0,0,.77);
    box-shadow: 0 0 18px rgba(1,149,133,.75);
    border: solid 1px #019585;

    text-align: center;

    &-group {

      display: flex;
      flex-direction: column;

      text-align: center;

      margin-bottom: 30px;

      label {
        
        color: map-get($colors, white);
        margin-bottom: 8px;

        font-size: 16px;

      }

    }

    &-control {

      border: 1px solid map-get($colors, green);
      background: transparent;

      padding: 13px 5px;
      
      color: map-get($colors, text);

    }

  }
  
}